@model MyFirstApp.Models.EmployeeAndProductWrapperModel

<!Doctype html>

<html>
    <head>
        <title>Welcome</title>
        <meta charset="UTF-8" />
        <link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="page-content">
            <h1>Employee with Products</h1>
            <div class="box w-50">
                <h2>Employee</h2>
                <table class="table w-50">
                    <tbody>
                        <tr>
                            <td>EmployeeName</td>
                            <td>@Model.EmployeeData?.EmployeeName</td>
                        </tr>
                        <tr>
                            <td>Employee</td>
                            <td>@Model.EmployeeData?.DOB?.ToString("dd/MM/yyyy")</td>
                         </tr>
                    </tbody>

                </table>
            </div>
            <div class="box w-50">
                <h2>Product</h2>
            <table class="table ">
                <tbody>
                    <tr>
                        <td>ProductName</td>
                        <td>@Model.ProductData?.ProductName</td>
                    </tr>
                    <tr>
                        <td>ProductDescription</td>
                        <td>@Model.ProductData?.ProductDesc</td>
                    </tr>
                </tbody>

            </table>
            </div>
     
        </div>
    </body>
</html>